* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  background-color: #E6E6FA;
}

.news {
  margin: 30px;
}

.ktl p {
  margin: 10px;
  padding: 1px;
}

h4 {
  color: #FF7256;
}

h5 {
  color: #6861ba;
}
